# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Tailwind Output
styles/output.css

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Logs
*.log

# Dist folder
dist/

# GitHub workflows cache or metadata (if any)
.github/*.log

# IDEs and editors
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dev notes / docs
README_TOOLS.md

# Cypress
cypress/screenshots/
cypress/videos/
